@page "/"
@using Paarungsruf.Shared

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<table>
    @foreach (var rows in _matrix.Matches)
    {
        <tr>
            @foreach (var matchValue in rows.Opponents)
            {
                if (matchValue.Value == 10)
                {
                    <td class="bg-info">@matchValue.Value</td>
                }
                else if (matchValue.Value < 10)
                {
                    <td class="bg-danger">@matchValue.Value</td>
                }
                else
                {
                    <td class="bg-success">@matchValue.Value</td>
                }
            }
        </tr>
    }
</table>

@code
{
    Matrix _matrix = new(
        new List<Faction> { Faction.BeastHeards, Faction.DaemonLegions, Faction.HighbornElves },
        new List<Faction> { Faction.SaurianAncients, Faction.VerminSwarm, Faction.KingdomOfEquitaine });

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _matrix.SetRating(Faction.BeastHeards, Faction.SaurianAncients,10);
        _matrix.SetRating(Faction.BeastHeards, Faction.VerminSwarm,11);
        _matrix.SetRating(Faction.BeastHeards, Faction.KingdomOfEquitaine,7);
        _matrix.SetRating(Faction.DaemonLegions, Faction.SaurianAncients,9);
        _matrix.SetRating(Faction.DaemonLegions, Faction.VerminSwarm,5);
        _matrix.SetRating(Faction.DaemonLegions, Faction.KingdomOfEquitaine,6);
        _matrix.SetRating(Faction.HighbornElves, Faction.SaurianAncients,14);
        _matrix.SetRating(Faction.HighbornElves, Faction.VerminSwarm, 16);
        _matrix.SetRating(Faction.HighbornElves, Faction.KingdomOfEquitaine, 5);
    }

}
